%link{:href => "tooltipster/dist/css/tooltipster.bundle.min.css", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "tooltipster/dist/js/tooltipster.bundle.min.js", :type => "text/javascript"}
