!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/html; charset=UTF-8"}/

  %body
    %h2
      = @user.name
      様
    %hr/
    %p
      この度は「zozotown」をご利用頂きましてありがとうございます。
      ご注文いただきました商品は丁寧に梱包したのち、発送いたします。
    %p
      ユーザー名: #{@user.name}
      %br/
    %hr/
