.content
  .new_item
    .new_item__title
      新作商品
    .new_item__images
  .recommended
    .recommended__title
      おすすめ商品
    .recommended__images

  .ranking
    .ranking__title
      ランキング
    .ranking__image