.content
  .new_item
    .new_item__title
      新作商品
    .new_item__images
      - items.each do |items|
        = image_tag items.image
  .recommended
    .recommended__title
      おすすめ商品
    .recommended__images
      = image_tag "assets/images/pic.jpg"

  .ranking
    .ranking__title
      ランキング
    .ranking__image
