.leftbar
  .title
    探す
  %ul
    %li
      ブランドから探す
    %li
      ショップから探す
    %li
      ランキングから探す
    %li
      こだわり条件から探す

  .title
    カテゴリー
  %ul
    %li
      トップス
    %li
      ジャケット
    %li
      パンツ
    %li
      オールインワン
    %li
      スカート
    %li
      ワンピース
    %li
      スーツ/ネクタイ
    %li
      バッグ
    %li
      シューズ
    %li
      ファッション
    %li
      財布/小物
    %li
      時計
    %li
      ヘアアクセサリー
    %li
      アクセサリー
    %li
      アンダーウェア
    %li
      レッグウェア
    %li
      帽子
    %li
      インテリア
    %li
      食器/キッチン
    %li
      雑貨/ホビー/スポーツ
    %li
      コスメ/香水
    %li
      音楽/本・雑貨
    %li
      水着/着物・浴衣
    %li
      マタニティー/ベビー
    %li
      その他

  .title
    お気に入り
  %ul
    %li
      アイテム
    %li
      ブランド
    %li
      ショップ
