.rightbar
  .title
    購入ランキング
  .ranking
    - earning_ranking.each.with_index(1) do |ranking, i|
      .ranking_rank
        第#{i}位
      .ranking_image
        -# -binding.pry
        = link_to image_tag ranking, item_path(orders)

  .title
    ニュース
  %ul
    %li
      おすすめ1
    %li
      おすすめ2
    %li
      おすすめ3
    %li
      おすすめ4
    %li
      おすすめ5
