.rightbar
  .title
    ランキング
  .ranking
    - earning_ranking.each do |ranking|
      #{ranking.item_name}

  .title
    ニュース
  %ul
    %li
      おすすめ1
    %li
      おすすめ2
    %li
      おすすめ3
    %li
      おすすめ4
    %li
      おすすめ5
