.rightbar
  .adver
    
  .news
    .news__title
      %p.title
        ショップニュース
      %p.favo1
        おすすめ1
      %p.favo2
        おすすめ2
      %p.favo3
        おすすめ3
      %p.favo4
        おすすめ4
      %p.favo5
        おすすめ5

  .info
    .info__title
      %p.title
        ニュース
      %p.favo1
        おすすめ1
      %p.favo2
        おすすめ2
      %p.favo3
        おすすめ3
      %p.favo4
        おすすめ4

      = form_for(item) do |f|
        .field-label
          =f.label :image do
            %p おすすめ5
            = f.file_field :image, class: "field-label__image", style: "display: none"
        .field-label
          = button_tag type: 'submit', name: 'news', class: "field-label__btn" do
            %i.fa.fa-wrench
