.rightbar
  .adver

  .news
    .news__title
      %p.title
        ショップニュース
      %p.favo1
        おすすめ1
      %p.favo2
        おすすめ2
      %p.favo3
        おすすめ3
      %p.favo4
        おすすめ4
      %p.favo5
        おすすめ5

  .info
    .info__title
      %p.title
        ニュース
      %p.favo1
        おすすめ1
      %p.favo2
        おすすめ2
      %p.favo3
        おすすめ3
      %p.favo4
        おすすめ4
      %p.favo
        おすすめ5

