.topbar
  %p.sitename
    ZOZOTOWN
  -# %format
  -#   = form_for(@items) do |f|
  -#     = f.text_field :body, placeholder: "何かお探しですか?", class: "field-label__input"

  %p.user_name junnnnn06
  = link_to "jun",
  %i.fa.fa-sign-out

.subbar
  %p.all
    すべて
  %p.men
    メンズ
  %p.women
    レディース
  %p.kids
    キッズ