= render "topbar"
= render "leftbar"
= render "content", item_recommend: @item_recommend, item_ranking: @item_ranking, item_all: @item_all, user: @user, review: @review
= render "rightbar"

%p#page-top
  %a{:href => "#wrap"} PAGE TOP