!!!
.html
  .head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title zozotown
  %body
    = render "topbar"
    = render "leftbar"
    = render "content", items: @item_recommend, item: @item_ranking, iteems: @items
    = render "rightbar"
