!!!
.html
  .head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title zozotown
  %body
    = render "topbar"
    = render "leftbar"
    = render "content", products: @products,items: @items
    = render "rightbar", product: @product,item: @item
