body {
  margin: 0;
  header.drawer-navbar.drawer-navbar--fixed{
    background-color: #333333;
    .drawer-container {
      .drawer-navbar-header {
        background-color: #333333;
        a.drawer-brand {
          color: white;
        }
      }
      nav.drawer-nav {
        background-color: #333333;
        ul.drawer-menu {
          float: right;
          li {
            a.drawer-menu-item {
              color: white;
            }
          }
        }
      }
    }
  }
}
