.content {
  float: left;
  height: 100%;
  width: calc(100vw - 800px);
  padding-left: 100px;

  .new_item {

    .new_item__title {
      font-size: 18px;
      color: black;
      padding-top: 20px;
      padding-left: 20px;
      font-style: oblique;
      margin-bottom: 20px;
      border-left :solid 5px orange;
      border-bottom: solid 1px gray;
      padding: 10px
    }

    .new_item__image {
      .new_item__image_image {
        float: left;
      }
    }
  }

  .recommended {

    &__title {
      font-size: 18px;
      color: black;
      padding-top: 20px;
      padding-left: 20px;
      clear: both;
      font-style: oblique;
      margin-bottom: 20px;
      border-left :solid 5px orange;
      border-bottom: solid 1px gray;
      padding: 10px
    }

    .recommended__images {
      .recommended__images_image {
        float: left;
      }
    }
  }

  .ranking {

    &__title {
      font-size: 18px;
      color: black;
      padding-top: 20px;
      padding-left: 20px;
      clear: both;
      font-style: oblique;
      margin-bottom: 20px;
      border-left :solid 5px orange;
      border-bottom: solid 1px gray;
      padding: 10px
    }

    .ranking__image {
      .ranking__image_image {
        float: left;
      }
    }
  }
}