.rightbar {
  height: 100%;
  width: 160px;
  margin-left: 1100px;
  .title {
    background: linear-gradient(transparent 60%, #ffff66 60%);
    font-size: 18px;
    color: black;
    border-bottom: none;
  }
  .ranking {
    .ranking_rank{
      text-align: center;
      font-size: 18px;
      position: relative;
      display: inline-block;
      padding: 0 55px;
    }
    .ranking_rank:before, .ranking_rank:after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 45px;
      height: 2px;
      border-top: solid 1px black;
      border-bottom: solid 1px black;
    }
    .ranking_rank:before {
      left: 0;
    }
    .ranking_rank:after {
      right: 0;
    }
    .ranking_image {
      img {
        height: 160px;
        width: 160px;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 7px 7px 7px 0px;
      font-size: 14px;
      color: #222222;
      -webkit-font-smoothing: antialiased;
      border-bottom:1px dotted black;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 7px 7px 7px 0px;
      font-size: 14px;
      color: #222222;
      -webkit-font-smoothing: antialiased;
      border-bottom:1px dotted black;
    }
  }
}