.topbar {
  background-color: #333333;
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  p.sitename img {
    padding-left: 200px;
    height: 50px;
    width: 120px;
    position: absolute;
    top: 0;
  }

  i.fa.fa-user {
    color: white;
    position: absolute;
    top: 18px;
    right: 250px;
    font-size: 30px;
  }
  .box1 {
    position: absolute;
    width: 55px;
    height: 35px;
    top: 55px;
    right: 240px;
    background-color: #FFEEFF;
    display: none;
  }

  .text1 {
    position: absolute;
    font-size: 11px;
    top: -1px;
    right: 5px;
  }
  i.fa.fa-user:hover + .box1 {
    display: block;
  }

  i.fa.fa-sign-in {
    position: absolute;
    top: 18px;
    right: 188px;
    font-size: 30px;
    color: white;
  }

  .box2 {
    position: absolute;
    width: 55px;
    height: 35px;
    top: 55px;
    right: 180px;
    background-color: #FFEEFF;
    display: none;
  }

  .text2 {
    position: absolute;
    font-size: 11px;
    top: -1px;
    right: 5px;
  }

  i.fa.fa-sign-in:hover + .box2 {
    display: block;
  }

  i.fa.fa-sign-out {
    font-size: 30px;
    font-style: oblique;
    position: absolute;
    top: 18px;
    right: 120px;
    color: white;
  }

  .box3 {
    position: absolute;
    width: 60px;
    height: 35px;
    top: 55px;
    right: 110px;
    background-color: #FFEEFF;
    display: none;
  }

  .text3 {
    position: absolute;
    font-size: 11px;
    top: -1px;
    right: 3px;
  }

  i.fa.fa-sign-out:hover + .box3 {
    display: block;
  }

  i.fa.fa-cog {
    font-size: 20px;
    font-style: oblique;
    position: absolute;
    top: 25px;
    right: 60px;
    color: #333333;
  }
}

.subbar {
  background-color: #EEEEEE;
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  padding-left: 180px;
  font-size: 14px;

  p {
    float: left;
    padding-left: 20px;
    color:  #777777;
  }
}

