.topbar {
  background-color: #333333;
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  p.sitename img {
    padding-left: 200px;
    height: 50px;
    width: 120px;
    position: absolute;
    top: 0;
  }

  i.fa.fa-user {
    color: white;
    position: absolute;
    top: 18px;
    right: 250px;
    font-size: 30px;
  }

  i.fa.fa-sign-out {
    position: absolute;
    top: 18px;
    right: 190px;
    font-size: 30px;
    color: white;
  }

  .btn2 {
    font-size: 16px;
    font-style: oblique;
    position: absolute;
    top: 25px;
    right: 100px;
    color: white;
  }

  i.fa.fa-cog {
    font-size: 20px;
    font-style: oblique;
    position: absolute;
    top: 25px;
    right: 60px;
    color: #333333;
  }
}

.subbar {
  background-color: #EEEEEE;
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  padding-left: 180px;
  font-size: 14px;

  p {
    float: left;
    padding-left: 20px;
    color:  #777777;
  }
}

