body.drawer.drawer--top.drawer--navbarTopGutter {
  height: 0px;
}
header.drawer-navbar.drawer-navbar--fixed {
  background-color: #333333;
  .drawer-container {
    .drawer-navbar-header {
      background-color: #333333;
      a.drawer-brand {
        color: white;
      }
    }
    nav.drawer-nav {
      background-color: #333333;
      ul.drawer-menu {
        float: right;
        li {
          a.drawer-menu-item {
            color: white;
          }
        }
      }
    }
  }
}

.subbar {
  background-color: #EEEEEE;
  overflow: hidden;
  width: 100%;
  padding-left: 180px;
  font-size: 14px;

  p {
    float: left;
    padding-left: 20px;
    color:  #777777;
  }
}
