@charset "UTF-8";
/*-------------------------------------
SITE : http://zozo.jp/
CREDIT : DESIGN BY START TODAY CO.,LTD.
MODIFIED : 2017.07.04
-------------------------------------*/

/*-------------------------------------
  カラーパレット
-------------------------------------*/
.cpColor_A1{ background-color: #000000; } .cpColor_A1.cpTriangle:after{ border-bottom-color: #000000;} .cpBtnColor_A1{ border-color: #000000; color: #000000 !important; }
.cpColor_A2{ background-color: #343f3f; } .cpColor_A2.cpTriangle:after{ border-bottom-color: #343f3f;} .cpBtnColor_A2{ border-color: #343f3f; color: #343f3f !important; }
.cpColor_A3{ background-color: #424242; } .cpColor_A3.cpTriangle:after{ border-bottom-color: #424242;} .cpBtnColor_A3{ border-color: #424242; color: #424242 !important; }
.cpColor_A4{ background-color: #757575; } .cpColor_A4.cpTriangle:after{ border-bottom-color: #757575;} .cpBtnColor_A4{ border-color: #757575; color: #757575 !important; }
.cpColor_A5{ background-color: #9e9e9b; } .cpColor_A5.cpTriangle:after{ border-bottom-color: #9e9e9b;} .cpBtnColor_A5{ border-color: #9e9e9b; color: #9e9e9b !important; }
.cpColor_B1{ background-color: #5e4037; } .cpColor_B1.cpTriangle:after{ border-bottom-color: #5e4037;} .cpBtnColor_B1{ border-color: #5e4037; color: #5e4037 !important; }
.cpColor_B2{ background-color: #ad9659; } .cpColor_B2.cpTriangle:after{ border-bottom-color: #ad9659;} .cpBtnColor_B2{ border-color: #ad9659; color: #ad9659 !important; }
.cpColor_B3{ background-color: #8d6e62; } .cpColor_B3.cpTriangle:after{ border-bottom-color: #8d6e62;} .cpBtnColor_B3{ border-color: #8d6e62; color: #8d6e62 !important; }
.cpColor_C1{ background-color: #47170b; } .cpColor_C1.cpTriangle:after{ border-bottom-color: #47170b;} .cpBtnColor_C1{ border-color: #47170b; color: #47170b !important; }
.cpColor_C2{ background-color: #6c272d; } .cpColor_C2.cpTriangle:after{ border-bottom-color: #6c272d;} .cpBtnColor_C2{ border-color: #6c272d; color: #6c272d !important; }
.cpColor_C3{ background-color: #8c1c33; } .cpColor_C3.cpTriangle:after{ border-bottom-color: #8c1c33;} .cpBtnColor_C3{ border-color: #8c1c33; color: #8c1c33 !important; }
.cpColor_C4{ background-color: #ca231f; } .cpColor_C4.cpTriangle:after{ border-bottom-color: #ca231f;} .cpBtnColor_C4{ border-color: #ca231f; color: #ca231f !important; }
.cpColor_C5{ background-color: #e03b3b; } .cpColor_C5.cpTriangle:after{ border-bottom-color: #e03b3b;} .cpBtnColor_C5{ border-color: #e03b3b; color: #e03b3b !important; }
.cpColor_C6{ background-color: #f2504a; } .cpColor_C6.cpTriangle:after{ border-bottom-color: #f2504a;} .cpBtnColor_C6{ border-color: #f2504a; color: #f2504a !important; }
.cpColor_C7{ background-color: #e57b6a; } .cpColor_C7.cpTriangle:after{ border-bottom-color: #e57b6a;} .cpBtnColor_C7{ border-color: #e57b6a; color: #e57b6a !important; }
.cpColor_D1{ background-color: #c6065a; } .cpColor_D1.cpTriangle:after{ border-bottom-color: #c6065a;} .cpBtnColor_D1{ border-color: #c6065a; color: #c6065a !important; }
.cpColor_D2{ background-color: #d82e73; } .cpColor_D2.cpTriangle:after{ border-bottom-color: #d82e73;} .cpBtnColor_D2{ border-color: #d82e73; color: #d82e73 !important; }
.cpColor_D3{ background-color: #cd497f; } .cpColor_D3.cpTriangle:after{ border-bottom-color: #cd497f;} .cpBtnColor_D3{ border-color: #cd497f; color: #cd497f !important; }
.cpColor_D4{ background-color: #de6471; } .cpColor_D4.cpTriangle:after{ border-bottom-color: #de6471;} .cpBtnColor_D4{ border-color: #de6471; color: #de6471 !important; }
.cpColor_D5{ background-color: #c3819b; } .cpColor_D5.cpTriangle:after{ border-bottom-color: #c3819b;} .cpBtnColor_D5{ border-color: #c3819b; color: #c3819b !important; }
.cpColor_E1{ background-color: #ea4800; } .cpColor_E1.cpTriangle:after{ border-bottom-color: #ea4800;} .cpBtnColor_E1{ border-color: #ea4800; color: #ea4800 !important; }
.cpColor_E2{ background-color: #fd6900; } .cpColor_E2.cpTriangle:after{ border-bottom-color: #fd6900;} .cpBtnColor_E2{ border-color: #fd6900; color: #fd6900 !important; }
.cpColor_E3{ background-color: #f19437; } .cpColor_E3.cpTriangle:after{ border-bottom-color: #f19437;} .cpBtnColor_E3{ border-color: #f19437; color: #f19437 !important; }
.cpColor_E4{ background-color: #f28e5c; } .cpColor_E4.cpTriangle:after{ border-bottom-color: #f28e5c;} .cpBtnColor_E4{ border-color: #f28e5c; color: #f28e5c !important; }
.cpColor_E5{ background-color: #fc4c02; } .cpColor_E5.cpTriangle:after{ border-bottom-color: #fc4c02;} .cpBtnColor_E5{ border-color: #fc4c02; color: #fc4c02 !important; }
.cpColor_F1{ background-color: #e0ac14; } .cpColor_F1.cpTriangle:after{ border-bottom-color: #e0ac14;} .cpBtnColor_F1{ border-color: #e0ac14; color: #e0ac14 !important; }
.cpColor_F2{ background-color: #d7b815; } .cpColor_F2.cpTriangle:after{ border-bottom-color: #d7b815;} .cpBtnColor_F2{ border-color: #d7b815; color: #d7b815 !important; }
.cpColor_F3{ background-color: #afb612; } .cpColor_F3.cpTriangle:after{ border-bottom-color: #afb612;} .cpBtnColor_F3{ border-color: #afb612; color: #afb612 !important; }
.cpColor_G1{ background-color: #031634; } .cpColor_G1.cpTriangle:after{ border-bottom-color: #031634;} .cpBtnColor_G1{ border-color: #031634; color: #031634 !important; }
.cpColor_G2{ background-color: #033649; } .cpColor_G2.cpTriangle:after{ border-bottom-color: #033649;} .cpBtnColor_G2{ border-color: #033649; color: #033649 !important; }
.cpColor_G3{ background-color: #163272; } .cpColor_G3.cpTriangle:after{ border-bottom-color: #163272;} .cpBtnColor_G3{ border-color: #163272; color: #163272 !important; }
.cpColor_G4{ background-color: #08429e; } .cpColor_G4.cpTriangle:after{ border-bottom-color: #08429e;} .cpBtnColor_G4{ border-color: #08429e; color: #08429e !important; }
.cpColor_G5{ background-color: #0859a8; } .cpColor_G5.cpTriangle:after{ border-bottom-color: #0859a8;} .cpBtnColor_G5{ border-color: #0859a8; color: #0859a8 !important; }
.cpColor_G6{ background-color: #3949aa; } .cpColor_G6.cpTriangle:after{ border-bottom-color: #3949aa;} .cpBtnColor_G6{ border-color: #3949aa; color: #3949aa !important; }
.cpColor_H1{ background-color: #06a2cc; } .cpColor_H1.cpTriangle:after{ border-bottom-color: #06a2cc;} .cpBtnColor_H1{ border-color: #06a2cc; color: #06a2cc !important; }
.cpColor_H2{ background-color: #49b2da; } .cpColor_H2.cpTriangle:after{ border-bottom-color: #49b2da;} .cpBtnColor_H2{ border-color: #49b2da; color: #49b2da !important; }
.cpColor_H3{ background-color: #2b88bc; } .cpColor_H3.cpTriangle:after{ border-bottom-color: #2b88bc;} .cpBtnColor_H3{ border-color: #2b88bc; color: #2b88bc !important; }
.cpColor_H4{ background-color: #0792a8; } .cpColor_H4.cpTriangle:after{ border-bottom-color: #0792a8;} .cpBtnColor_H4{ border-color: #0792a8; color: #0792a8 !important; }
.cpColor_H5{ background-color: #5d67c3; } .cpColor_H5.cpTriangle:after{ border-bottom-color: #5d67c3;} .cpBtnColor_H5{ border-color: #5d67c3; color: #5d67c3 !important; }
.cpColor_I1{ background-color: #006065; } .cpColor_I1.cpTriangle:after{ border-bottom-color: #006065;} .cpBtnColor_I1{ border-color: #006065; color: #006065 !important; }
.cpColor_I2{ background-color: #00897a; } .cpColor_I2.cpTriangle:after{ border-bottom-color: #00897a;} .cpBtnColor_I2{ border-color: #00897a; color: #00897a !important; }
.cpColor_I3{ background-color: #07a595; } .cpColor_I3.cpTriangle:after{ border-bottom-color: #07a595;} .cpBtnColor_I3{ border-color: #07a595; color: #07a595 !important; }
.cpColor_I4{ background-color: #78a38e; } .cpColor_I4.cpTriangle:after{ border-bottom-color: #78a38e;} .cpBtnColor_I4{ border-color: #78a38e; color: #78a38e !important; }
.cpColor_J1{ background-color: #004b29; } .cpColor_J1.cpTriangle:after{ border-bottom-color: #004b29;} .cpBtnColor_J1{ border-color: #004b29; color: #004b29 !important; }
.cpColor_J2{ background-color: #08713b; } .cpColor_J2.cpTriangle:after{ border-bottom-color: #08713b;} .cpBtnColor_J2{ border-color: #08713b; color: #08713b !important; }
.cpColor_J3{ background-color: #329e60; } .cpColor_J3.cpTriangle:after{ border-bottom-color: #329e60;} .cpBtnColor_J3{ border-color: #329e60; color: #329e60 !important; }
.cpColor_J4{ background-color: #7f9910; } .cpColor_J4.cpTriangle:after{ border-bottom-color: #7f9910;} .cpBtnColor_J4{ border-color: #7f9910; color: #7f9910 !important; }

/* bape */
.cpColor_J5{ background:url(//img4.zozo.jp/_news/daily_coupon/sp/img/bape.png) repeat center top; }
.cpColor_J5.cpTriangle:after{ border-bottom-color: #c7b385;}
.cpBtnColor_J5{ border-color: #000000; color: #000000 !important; }
.couponNow.cpColor_J5 { background-color: #000000 !important; }
#cpBtnArea .selectBtn.cpColor_J5,
#couponGoodstxt.cpColor_J5 { background-color: #000000 !important; background-image: none !important; }

.cpColor_K1{ background-color: #5b0253; } .cpColor_K1.cpTriangle:after{ border-bottom-color: #5b0253;} .cpBtnColor_K1{ border-color: #5b0253; color: #5b0253 !important; }
.cpColor_K2{ background-color: #4d1f7a; } .cpColor_K2.cpTriangle:after{ border-bottom-color: #4d1f7a;} .cpBtnColor_K2{ border-color: #4d1f7a; color: #4d1f7a !important; }
.cpColor_K3{ background-color: #563992; } .cpColor_K3.cpTriangle:after{ border-bottom-color: #563992;} .cpBtnColor_K3{ border-color: #563992; color: #563992 !important; }
.cpColor_K4{ background-color: #a74383; } .cpColor_K4.cpTriangle:after{ border-bottom-color: #a74383;} .cpBtnColor_K4{ border-color: #a74383; color: #a74383 !important; }
.cpColor_K5{ background-color: #bc63c9; } .cpColor_K5.cpTriangle:after{ border-bottom-color: #bc63c9;} .cpBtnColor_K5{ border-color: #bc63c9; color: #bc63c9 !important; }
.cpColor_K6{ background-color: #976ead; } .cpColor_K6.cpTriangle:after{ border-bottom-color: #976ead;} .cpBtnColor_K6{ border-color: #976ead; color: #976ead !important; }



/*-------------------------------------
  サーチ、お気に入りBG
-------------------------------------*/

.bgPoint_500{ background-image:url(//img4.zozo.jp/_news/daily_coupon/pc/img/point_500_search.png); }
.bgPoint_1000{ background-image:url(//img4.zozo.jp/_news/daily_coupon/pc/img/point_1000_search.png); }
.bgPoint_1500{ background-image:url(//img4.zozo.jp/_news/daily_coupon/pc/img/point_1500_search.png); }
.bgPoint_2000{ background-image:url(//img4.zozo.jp/_news/daily_coupon/pc/img/point_2000_search.png); }
.bgPoint_2500{ background-image:url(//img4.zozo.jp/_news/daily_coupon/pc/img/point_2500_search.png); }
.bgPoint_3000{ background-image:url(//img4.zozo.jp/_news/daily_coupon/pc/img/point_3000_search.png); }
.bgPoint_3500{ background-image:url(//img4.zozo.jp/_news/daily_coupon/pc/img/point_3500_search.png); }



/*-------------------------------------
  クーポントップバー
-------------------------------------*/
/* クーポントップバー */
#couponBanner{ position: relative; }
#couponBanner .box{ width:980px; margin:auto; }
#couponBanner .loaded{ cursor:pointer; }
#couponBanner .targetSecurities{ left: 50%; margin-left: 146px; position: absolute; top: 12px; }
#couponBanner .targetSecurities a{ background:#ffffff; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; color:#000000; display: block; padding: 9px 0 7px 5px; position: absolute; text-align: center; width: 204px; font-size: 12px; }
#couponBanner .targetSecurities a:hover{ background:#f0f0f0; text-decoration:none; }
#couponBanner .pointImg { float:left; margin: 5px 0 0 4px; width: 160px; }
#couponBanner .dayInfo { background:url(//img4.zozo.jp/_news/daily_coupon/pc/img/dayInfo_bg.png) no-repeat ; color: #ffffff; float: left; height: 60px; line-height: 1.3; margin: 0 0 0 5px; text-align: center; width: 113px; }
#couponBanner .dayInfoInner { padding: 12px 0 0 0; }
#couponBanner .date { font-size: 16px; }
#couponBanner .weekday {font-size: 11px; padding: 0 2px; }
#couponBanner .dayText {font-size: 14px; }
#couponBanner .couponInfo { color: #ffffff; font-family:"ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif; float:left; margin: 11px 0 0 5px; }
#couponBanner .bnrName { overflow: hidden; text-overflow: ellipsis;white-space: nowrap; width: 340px; }
#couponBanner .infoBox { border: 1px solid #ffffff; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; box-sizing: border-box; color: #ffffff; float: right; font-size: 12px; font-family:"ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif; margin: 12px 23px 0 0; padding: 7px 12px 7px; }
#couponBanner.oneShop .couponInfo { font-size: 15px; line-height: 1.3; margin-top: 12px; }



/*-------------------------------------
  クーポンオーバーレイ
-------------------------------------*/
#couponOverlayWrapper .overlay{ display:block; position:fixed; left:0; top:0; width:100%; height:100%;  background:#000000; opacity:0.7; filter:alpha(opacity=70); z-index:9998;}
#couponOverlayWrapper.hide{ display:none; }
#couponBox{ display:block; position:absolute; left:50%; top:0; width:580px; margin: 0 0 0 -290px; z-index:9999; }
#couponBox .inner{ position: relative; }
#couponBox .ovDestroy{ display:block; height:50px; position: absolute; top:-20px; right:-25px; width:50px; }
#couponBox .ico_close{ background:url(//img4.zozo.jp/_news/daily_coupon/pc/img/close.png) no-repeat center center; display:block; width:50px; height:50px; background-size: 50px 50px; }


/* オーバーレイヘッダー */
#couponHeader { text-align: center; padding: 0 0 25px 0; }
.oneShop #couponHeader { padding-bottom: 26px; }
#couponHeader .ovDayInfo { color: #ffffff; padding:20px 0; }
#couponHeader .lastDay { background: #000000; display: inline-block; font-size: 15px; margin: 0 10px 0 0; padding: 4px 6px 4px 12px; vertical-align: bottom; }
#couponHeader .infoText { font-size: 20px; }
#couponHeader .weekDay { font-size: 14px; padding: 0 2px 0 4px; }
#couponHeader .couponInfo { color: #ffffff; font-size: 16px; margin: 20px auto 0; text-align: center; width: 520px; }
#couponHeader .ovName { overflow: hidden; text-overflow: ellipsis; text-align: center; white-space: nowrap; } 
.oneShop #couponHeader .ovName,
.oneShopCt #couponHeader .ovName { font-size: 22px }

#couponHeader #cpBtnAllItem { background: #ffffff; margin:20px auto 0; width:480px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; padding: 0 0 0 0; }
#couponHeader #cpBtnAllItem a.btn { font-size:22px; display:block; padding:8px 10px; text-align:center; color:#202020; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; background:#ffffff; }
#couponHeader #cpBtnAllItem a.btn:hover { background: #f0f0f0; opacity:0.8; filter:alpha(opacity=80); text-decoration:none; }
#couponHeader #cpBtnAllItem .btnText { display: block; font-size: 20px; }
#couponHeader #cpBtnAllItem .itemCount { display: block; font-size: 14px; }
#couponHeader .textNote { color:#ffffff; font-size:12px; margin-top:10px; }

#couponBody { background: #ffffff; }
#couponBody #couponBodyWrapper { padding: 0 0 25px 0; }
.oneShop #couponBody { background: none; }
#couponBody .targetCount { background: #f0f0f0; color: #202020; font-size: 16px; height: 40px; line-height: 40px; text-align: center; }
#couponBody .listColumnWrapper { margin: 0; padding: 0 0 14px 0; position: relative; }
#couponBody .listColumnWrapper .column2Line { margin: 0 auto; width: 480px;}
#couponBody .listColumnWrapper .column2Line .textListBlock { clear: both; margin: 5px 0 0 -20px; }
#couponBody .listColumnWrapper .column2Line dd { border-bottom: 1px solid #ebebeb; box-sizing: border-box; float: left; height: 43px; margin: 0 0 0 20px; position: relative; width: 230px; }
#couponBody .listColumnWrapper .column2Line dd .shopCheckArea { display: table; table-layout: fixed; max-width:230px; }
#couponBody .listColumnWrapper .column2Line dd .shopCheck { display: table-cell; height: 43px; vertical-align: middle; width: 21px; }
#couponBody .listColumnWrapper .column2Line dd .link { display: table-cell; height: 43px; vertical-align: middle; }
#couponBody .listColumnWrapper .column2Line dd .link a { display: table-cell; padding: 0 0 0 4px; vertical-align: middle; }
#couponBody .listColumnWrapper .column2Line dd span { display: block; line-height: 1.4; }
.mac #couponBody .listColumnWrapper .column2Line dd span { display: block; line-height: 1.4; max-width: 200px; white-space: nowrap; word-break: break-all; text-overflow: ellipsis; overflow: hidden; }
#couponBody #cpTriggerBox{ height: 42px; position: relative; }
#couponBody .trigger{ float: left; left: 50%; margin: 0 0 0 -75px; width: 150px; position: absolute; }
#couponBody .trigger a{ background: url("/common_2015/img/ico/ico_arrow_12.png") no-repeat scroll 116px 14px; color: #8a8a8a; display: block; font-size: 16px; margin: 0 auto; padding: 8px 10px 8px 0; text-align: center; text-decoration: none; }
#couponBody .trigger a:hover { opacity: 0.6; filter:alpha(opacity=60); }
#couponBody .trigger.open a { background:url("/common_2015/img/ico/ico_arrow_13.png") no-repeat scroll 116px 14px; }

/* 複数ショップ選択ボタン */
#cpBtnArea{ margin:12px auto 0; width: 480px; }
#cpBtnArea li { float:left; }
#cpBtnArea li a { box-sizing: border-box; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; font-size: 16px; }
#cpBtnArea .gBtnWhite { padding: 14px 0 13px; width: 160px; }
#cpBtnArea .selectBtn { color: #ffffff !important; cursor: pointer; display: block; margin: 0 0 0 20px; padding: 13px 0 10px; position: relative; text-align: center; width: 300px; z-index: 1; line-height: 1.2; }
#cpBtnArea .selectBtn:hover { color: #ffffff; opacity: 0.8; position: relative; text-decoration: none; z-index: 1; }
#cpBtnArea .selectBtn:active { color: #ffffff; position: relative; text-decoration: none; z-index: 1; }
#cpBtnArea li a .itemCount{ font-size:10px; display:block; }

/* 新規会員登録周り */
#cpInfoArea { margin:0 auto; padding: 0 0 30px; text-align: center; width: 500px;}
#cpInfoArea .infoText { font-size: 14px; padding: 0 0 12px 0; }
.oneShop #cpInfoArea .infoText,
.oneShopCt #cpInfoArea .infoText{ font-size: 16px; padding-bottom: 6px; }
#cpInfoArea .infoTextAtt { font-size: 14px; padding: 0 0 12px 0;}
#cpInfoArea .gBtnWhite { box-sizing: border-box; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; font-size: 14px; margin: 0 auto; padding: 8px 0 8px 0; width: 236px; }
#cpInfoArea .info { font-size: 11px; margin: 15px 0 0; }
#cpInfoArea .info a { text-decoration: underline; }

/* 新規会員登録周り  ボタンカラー */
#cpInfoArea,
#cpInfoArea .info,
#cpInfoArea .info a { color: #202020;}
#cpInfoArea .gBtnWhite { border-color:#202020 !important; color: #202020 !important; }
/* 新規会員登録周り  ボタンカラー .oneShop */
.oneShop #cpInfoArea,
.oneShop #cpInfoArea .info,
.oneShop #cpInfoArea .info a { color: #ffffff;}
.oneShop #cpInfoArea .gBtnWhite { background:none; border-color:#ffffff !important; color: #ffffff !important; }



/*-------------------------------------
  サーチ、グッズ
-------------------------------------*/
/*ラベル*/
.couponNow { background-repeat: no-repeat; display: block; height: 0; margin: 2px 0 0; overflow: hidden; padding: 20px 0 0; width: 90px; }

/* クーポンアイコンgoods用 */
#couponGoodsBox { padding: 0 0 10px; }
#couponGoodstxt {  font-size:13px; text-align: center; width: 100%; white-space: nowrap; }
#couponGoodstxt .allCouponShop { color: #ffffff; display:block; padding: 8px 0 7px 6px; text-align: center; }
#couponGoodstxt .allCouponShop .itemLink { text-decoration:underline; }
#couponGoodstxt:hover .allCouponShop { opacity:0.9; filter:alpha(opacity=90); text-decoration:none;}
#useCouponPrice { font-size: 12px; color:#E73656; padding-top: 5px; }
#useCouponPrice .bold{ font-weight: bold; }



/*-------------------------------------
  カート・メンバー
  registcomplete.html
-------------------------------------*/
#regularCoupon { margin: 25px auto; padding: 0 0 30px; position: relative; width: 680px; }
#regularCoupon .registDayInfo { color: #ffffff; margin: 0 auto; padding: 30px 0 20px; }
#regularCoupon .lastDay { background: #000000; display: inline-block; font-size: 15px; margin: 0 10px 0 0; padding: 4px 6px 4px 12px; vertical-align: bottom; }
#regularCoupon .infoText { font-size: 20px; vertical-align: bottom; }
#regularCoupon .weekDay { font-size: 14px; padding: 0 2px 0 4px; }
#regularCoupon .container { width:560px; margin:0 auto; text-align:center; }
#regularCoupon .container img { }
#regularCoupon #cpRegistLead { color: #ffffff; font-size: 16px; margin: 20px auto 0; padding: 0 0 20px; text-align: center; width: 560px; }
#regularCoupon #cpBrandList { padding: 0 0 3px; overflow: hidden; white-space: nowrap; word-break: break-all; text-overflow: ellipsis; width: 560px; }
#regularCoupon.oneShop #cpBrandList { font-size: 22px; }
#regularCoupon #registBtnAllItem { background: #ffffff; width:560px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; padding: 0 0 0 0; }
#regularCoupon #registBtnAllItem a.btn { display:block; line-height: 1.4; padding: 6px 10px; text-align:center; color:#202020; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; background:#ffffff; }
#regularCoupon #registBtnAllItem a.btn:hover { background: #f0f0f0; opacity:0.8; filter:alpha(opacity=80); text-decoration:none; }
#regularCoupon #registBtnAllItem .btnText { display: block; font-size: 20px; }
#regularCoupon #registBtnAllItem .itemCount { display: block; font-size: 14px; }
#regularCoupon .txtAtt { color: #ffffff; font-size: 11px; margin: 15px auto 0; text-align: center; }
.cpTriangle:after{ border:14px solid transparent; bottom: 100%; content: " "; height: 0; left: 50%; margin-left: -14px; position: absolute; width: 0; }

/*-------------------------------------
  クーポン対象アイテム TOPページ
-------------------------------------*/
#couponItem { min-height:485px; _height:485px; position:relative; width:539px; margin:0 0 0 3px; }
#couponItem ul.rankingList { margin:11px 0 0 -17px; }
#couponItem ul.rankingList .price {  line-height:1.1; margin: 3px 0 0; }
#couponItem ul.rankingList .price.discount .off { display:inline; margin:0 0 0 2px; }
#couponItem .rankingList .label { margin:5px 0 0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#6f6f6f; }
#couponItem li { float:left; width:125px; margin:0 0 0 14px; height:215px; }
#couponItem li.rank1 { float:left; width:171px; margin:0 0 0 14px; height:270px }
#couponItem li.rank2 { float:left; width:171px; margin:0 0 0 14px; height:270px }
#couponItem li.rank3 { float:left; width:171px; margin:0 0 0 14px; height:270px }

