%form{:action => "#", :type => "get"}
  .evaluation
    %input#star1{:name => "star", :type => "radio", :value => "5"}/
    %label{:for => "star1"}
      %span.text> 最高
      ★
    %input#star2{:name => "star", :type => "radio", :value => "4"}/
    %label{:for => "star2"}
      %span.text> 良い
      ★
    %input#star3{:name => "star", :type => "radio", :value => "3"}/
    %label{:for => "star3"}
      %span.text> 普通
      ★
    %input#star4{:name => "star", :type => "radio", :value => "2"}/
    %label{:for => "star4"}
      %span.text> 悪い
      ★
    %input#star5{:name => "star", :type => "radio", :value => "1"}/
    %label{:for => "star5"}
      %span.text> 最悪
      ★
